html{
    height: 100vh;
    body{
        box-sizing: border-box;
        height: 100vh;
        .row{
            margin-bottom : 0px;
        }
        .redy{
            color : red;
            background-color: white;
        }
    }
}
.centreLeTexte{
    text-align : center;
}